<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导入单选题</title>
    <link rel="stylesheet" href="../layui/css/layui.css" />
    <script type="text/javascript" src="../layui/layui.js" ></script>
    <script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
</head>
<body>

<div>
    <button type='button' class='layui-btn' id='test'><i class='layui-icon'>&#xe67c;</i>导入单选题</button>
</div>
<div id="win" style="display:none" class="layui-progress layui-progress-big" lay-showPercent="yes" lay-filter="progressBar">
    <div class="layui-progress-bar layui-bg-red" lay-percent="0%"></div>
</div>

<br>

<div>
    <span style="color: red">注意：请严格按照模板中的表头对EXCEL的表头进行设置</span>
</div>

<div>
    <img src="../img/choiceDemo.jpg" alt="导入单选题模板" style="width: 800px; height: 300px;">
</div>

</body>

<script type="text/javascript">

    layui.use(['upload','element','layer'], function(){
        var upload = layui.upload;
        var element = layui.element;
        var layer = layui.layer;
        element.init();
        //执行实例
        var uploadInst = upload.render({
            elem: '#test' //绑定元素
            ,url: 'http://localhost:8080/examsys/title/importChoiceTitle' //上传接口
            ,accept: 'file'
            ,data: {path:$("#path").val()}
            ,progress: function(e , percent) {
                console.log("进度：" + percent + '%');
                element.progress('progressBar',percent  + '%');
            }
            ,before:function(){
                layer.open({
                    type: 1,
                    title: '上传进度',
                    area:'500px',
                    skin: 'layui-layer-molv',
                    closeBtn: 0,
                    content: $('#win') //这里content是一个普通的String
                });
            }
            , done: function (data) {//返回值接收
                if (data.code == 1) {
                    layer.msg('导入成功！', {icon: 1,time:2000,shade:0.2}, function () {
                        location.reload();
                    });
                } else {
                    layer.msg('导入失败！', {icon: 1,time:2000,shade:0.2}, function () {
                        location.reload();
                    });
                }
            }
            ,error: function(){
                //请求异常回调
                alert("上传过程请勿其他操作！请重新上传");
            }
        });
    });
</script>

</html>