<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看单选题信息</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script type="text/javascript" src="../layui/layui.js" ></script>
    <script type="text/javascript" src="../js/jquery-1.12.4.min.js" ></script>
</head>
<body>
<div>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">查看单选题信息</div>
        </div>
        <br>
        <form class="layui-form" action="" lay-filter="example">
            <div class="layui-form-item">
                <label class="layui-form-label">分数</label>
                <div class="layui-input-block">
                    <input type="text" name="score" lay-verify="required" placeholder="分数" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">题目</label>
                <div class="layui-input-block">
                    <input type="text" name="question" lay-verify="required" placeholder="题目" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">选项A</label>
                <div class="layui-input-block">
                    <input type="text" name="choiceA"  lay-verify="required" placeholder="选项A" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">选项B</label>
                <div class="layui-input-block">
                    <input type="text" name="choiceB"  lay-verify="required" placeholder="选项B" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">选项C</label>
                <div class="layui-input-block">
                    <input type="text" name="choiceC"  lay-verify="required" placeholder="选项C" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">选项D</label>
                <div class="layui-input-block">
                    <input type="text" name="choiceD"  lay-verify="required" placeholder="选项D" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">正确答案</label>
                <div class="layui-input-block">
                    <input type="text" name="rightAnswer"  lay-verify="required" placeholder="正确答案" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属科目</label>
                <div class="layui-input-block">
                    <input type="text" name="subjectName"  lay-verify="required" placeholder="所属学科" autocomplete="off" class="layui-input">
                </div>
            </div>
        </form>
    </div>
</div>
<script  th:inline="none">
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
            ,form = layui.form;

        $.ajax({
            type:"get",
            url:"/examsys/title/findByChoiceId"+window.location.search,
            dataType: "json",
            success:function (data) {
                if (data.code == 1) {
                    form.val('example', data.info);
                } else {
                    alert(data.info);
                }
            }
        })
    });
</script>
</body>
</html>