<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>试题管理</title>
    <link rel="stylesheet" href="../layui/css/layui.css" />
    <script type="text/javascript" src="../layui/layui.js" ></script>

    <style type="text/css">
        .layui-body{
            bottom:0px!important;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" style="background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#00FF00), to(#f6f6f8));">
        <div class="layui-logo">试题管理</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left" >
            <li class="layui-nav-item">
                <a href="javascript:;">试题管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="" >选择题管理</a></dd>
                    <dd><a href="">判断题管理</a></dd>
                    <dd><a href="">简答题管理</a></dd>
                    <dd><a href="">生成试卷</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll" style="background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#00FF00), to(#f6f6f8));">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test" style="background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#00FF00), to(#f6f6f8));">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">试题管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/examsys/subject/skipSubject" target="myframe">科目管理</a></dd>
                        <dd><a href="/examsys/title/skipChoice" target="myframe">单选题管理</a></dd>
                        <dd><a href="/examsys/mChoice/skipListMChoice" target="myframe">多选题管理</a></dd>
                        <dd><a href="/examsys/judge/skipListJudge" target="myframe">判断题管理</a></dd>
                        <dd><a href="/examsys/short/skipListShort" target="myframe">简答题管理</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <iframe name="myframe" width="100%" height="100%" frameborder="0"></iframe>
    </div>

</div>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>