<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.examsys.dao.ChoiceDao">
    <insert id="addChoiceTitle" parameterType="list">
        insert into
        choice_question(score, question, choiceA, choiceB, choiceC, choiceD, rightAnswer, subjectId)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (1,
            #{item.question},
            #{item.choiceA},
            #{item.choiceB},
            #{item.choiceC},
            #{item.choiceD},
            #{item.rightAnswer},
            #{item.subjectId})
        </foreach>
    </insert>
</mapper>