<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.examsys.dao.EChartsDao">

    <select id="findExamAndScore" resultType="bGExamScore">

        select eid, avg(score) score from exam_manage em
        inner join apply_message am
        on em.eid = am.examManageId
        inner join score_manage sm
        on sm.applyManageId = am.aid
        group by eid

    </select>

    <select id="findSubjectNameAndScore" resultType="bGSubjectScore">

       select subjectName, avg(score) score from subject sub
       inner join apply_message am
       on sub.sid = am.subjectId
       inner join score_manage sm
       on am.studentId = sm.studentId
       group by subjectName

    </select>

    <select id="findStudentNameAndScore" resultType="fMExamScore">

        select studentName, score from score_manage sm
        inner join student stu
        on sm.studentId = stu.sid
        inner join apply_message am
        on sm.applyManageId = am.aid
        inner join exam_manage em
        on em.eid = am.examManageId

        <where>

            <if test="eid != null and eid != ''">
                eid = #{eid}
            </if>

        </where>

    </select>

    <select id="findStudentNameAndScoreById" resultType="fMExamScore">

        select eid from exam_manage

    </select>

</mapper>