<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.examsys.dao.ExaminationDao">

    <select id="choiceQuestionList" parameterType="map" resultType="choiceQuestion">
        select * from choice_question where subjectId = #{subjectId} ORDER BY RAND() LIMIT ${count}
    </select>

    <select id="mchoiceQuestionList" parameterType="map" resultType="mchoiceQuestion">
        select * from mchoice_question where subjectId = #{subjectId} ORDER BY RAND() LIMIT ${count}
    </select>

    <select id="judgeQuestionList" parameterType="map" resultType="judgeQuestion">
        select * from judge_question where subjectId = #{subjectId} ORDER BY RAND() LIMIT ${count}
    </select>

    <select id="shortQuestionList" parameterType="map" resultType="shortQuestion">
        select * from short_question where subjectId = #{subjectId} ORDER BY RAND() LIMIT ${count}
    </select>
</mapper>