<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.examsys.dao.ForwardDao">

    <select id="findApplyByName" parameterType="map" resultType="com.qfedu.examsys.vo.VApply">

        select aid,studentName,subjectName,examStart,examEnd,examManageId,examTime from apply_message ap
        inner join student s
        on s.sid = ap.studentId
        inner join subject sub
        on sub.sid = ap.subjectId
        inner join exam_manage em
        on em.eid = ap.examManageId
        where studentName = #{name} and DATE_FORMAT(#{currentTime},'%Y-%m-%d') &lt;= DATE_FORMAT(examEnd,'%Y-%m-%d')

    </select>

    <select id="findScoreByName" parameterType="map" resultType="com.qfedu.examsys.vo.VScore">

        select sm.sid,studentName,subjectName,em.eid,score from score_manage sm
        inner join student stu
        on stu.sid = sm.studentId
        inner join apply_message am
        on am.aid = sm.applyManageId
        inner join subject sub
        on sub.sid = am.subjectId
        inner join exam_manage em
        on em.eid = am.examManageId
        <where>
            <if test="name != null &amp;&amp; name != ''">
                stu.studentName = #{name}
            </if>
            <if test="subjectId != null &amp;&amp; subjectId != ''">
                and sub.sid = #{subjectId}
            </if>
            <if test="examStart != null">
                and DATE_FORMAT(examStart,'%Y-%m-%d') >= DATE_FORMAT(#{examStart},'%Y-%m-%d')
            </if>
            <if test="examEnd != null">
                and DATE_FORMAT(examEnd,'%Y-%m-%d') &lt;= DATE_FORMAT(#{examEnd},'%Y-%m-%d')
            </if>
        </where>

    </select>

    <select id="aidIsEmpty" parameterType="int" resultType="int">
        select aid from short_manage where aid = #{aid}
    </select>

</mapper>