<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.examsys.dao.ScoreManagementDao">

    <resultMap id="vScoreManageMap" type="com.qfedu.examsys.vo.VScoreManage">
        <id column="sid" property="sid"/>
        <result column="score" property="score"/>
        <association property="vApplyMessage">
            <association property="student" >
                <result column="studentName" property="studentName"/>
            </association>
            <association property="subject">
                <result column="subjectName" property="subjectName"/>
            </association>
            <association property="examManage">
                <id column="eid" property="eid"/>
                <result column="applyStart" property="applyStart"/>
                <result column="applyEnd" property="applyEnd"/>
            </association>
        </association>
    </resultMap>
    
    <select id="findAllScoreManage" parameterType="map" resultMap="vScoreManageMap">
        select sm.sid, sm.score, st.studentName, su.subjectName, em.eid, em.applyEnd, em.applyStart
        from score_manage sm
        inner join apply_message am
        on sm.applyManageId = am.aid
        inner join student st
        on am.studentId = st.sid
        inner join subject su
        on am.subjectId = su.sid
        inner join exam_manage em
        on am.examManageId = em.eid
        <where>
            <if test="eid != null">
                and em.eid = #{eid}
            </if>
            <if test="studentName != null and studentName != ''">
                and st.studentName = #{studentName}
            </if>
            <if test="subjectName != null and subjectName != ''">
                and su.subjectName = #{subjectName}
            </if>
        </where>
    </select>

    <select id="findByIdScoreManage" parameterType="int" resultMap="vScoreManageMap">
        select sm.sid, sm.score, st.studentName, su.subjectName, em.eid, em.applyEnd, em.applyStart
        from score_manage sm
        inner join apply_message am
        on sm.applyManageId = am.aid
        inner join student st
        on am.studentId = st.sid
        inner join subject su
        on am.subjectId = su.sid
        inner join exam_manage em
        on am.examManageId = em.eid
        where sm.sid = #{sid}
    </select>

    <select id="findAllSubject" resultType="com.qfedu.examsys.entity.Subject">
        select * from subject;
    </select>

    <update id="updateScoreManage" parameterType="com.qfedu.examsys.vo.VScoreManage">
        update
        score_manage sm
        inner join apply_message am
        on sm.applyManageId = am.aid
        inner join student st
        on am.studentId = st.sid
        inner join subject su
        on am.subjectId = su.sid
        inner join exam_manage em
        on am.examManageId = em.eid
        <set>
            <if test="score != null and score != ''">
                sm.score = #{score},
            </if>
            <if test="studentName != null and studentName != ''">
                st.studentName = #{studentName},
            </if>
            <if test="subjectName != null and subjectName != ''">
                su.subjectName = #{subjectName},
            </if>
            <if test="applyStart != null">
                em.applyStart = #{applyStart},
            </if>
            <if test="applyEnd != null">
                em.applyEnd = #{applyEnd}
            </if>
        </set>
        where sm.sid = #{sid}
    </update>

</mapper>