<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.examsys.dao.ShortManageDao">
    <insert id="add" parameterType="shortManage">
        insert into short_manage (answer, otherScore, aid,studentId) values (#{answer},#{otherScore},#{aid},#{studentId})
    </insert>
</mapper>