<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.examsys.dao.SubjectDao">

    <select id="findAll" resultType="subject">

        select * from subject

    </select>

    <select id="findBySubjectName" parameterType="string" resultType="subject">

        select * from subject where subjectName = #{name}

    </select>

    <select id="findById" parameterType="int" resultType="subject">
        select * from subject where sid = #{sid}
    </select>

    <insert id="addSubject" parameterType="subject">
        insert into subject(subjectName) values (#{subjectName})
    </insert>

    <update id="modifySubject" parameterType="subject">
        update
        subject
        <set>
            <if test="subjectName != null and subjectName != ''">
                subjectName = #{subjectName}
            </if>
        </set>
        where sid = #{sid}
    </update>

</mapper>