<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.examsys.dao.SysDao">

    <resultMap id="authorityMap" type="com.qfedu.examsys.vo.VAuthority">

        <result column="pmenu" property="pmenu"></result>
        <collection property="listAuthority" javaType="list" ofType="authority">
            <result column="cmenu" property="cmenu"></result>
            <result column="url" property="url"></result>
        </collection>
    </resultMap>

    <select id="query" parameterType="int" resultMap="authorityMap">

        select distinct p.pid,p.resourceName pmenu,c.resourceName cmenu,c.pid cid,c.url from permission p
        inner join permission c
        on p.pid = c.parentId
        inner join role_permission rp
        on rp.pid = c.pid
        inner join user_role ur
        on ur.rid = rp.rid
        where ur.uid = #{uid} and c.resourceType = 'menu'

    </select>

    <select id="queryUser" resultType="com.qfedu.examsys.vo.VUser">

        select * from user u
        inner join user_role ur
        on ur.uid = u.uid
        inner join role r
        on r.rid = ur.rid

    </select>
    
    <delete id="deleteById" parameterType="int">
        
        delete from user where uid = #{uid}
        
    </delete>
    
    <select id="findById" parameterType="int" resultType="com.qfedu.examsys.vo.VUser">
        
        select * from user u
        inner join user_role ur
        on ur.uid = u.uid
        inner join role r
        on r.rid = ur.rid
        where u.uid = #{uid}
        
    </select>
    
    <update id="updateById" parameterType="user">

        update user
        <set>
            <if test="userName != null &amp;&amp; userName != ''">
                userName = #{userName},
            </if>
            <if test="password != null &amp;&amp; password != ''">
                password = #{password},
            </if>
        </set>
        where uid = #{uid};
        
    </update>

    <insert id="addUser" parameterType="com.qfedu.examsys.vo.VUser" useGeneratedKeys="true" keyProperty="uid">

        insert into user(userName,password) values (#{userName},#{password})

    </insert>

    <insert id="addRole" parameterType="map" >

        insert into user_role(uid, rid) VALUES (#{uid},#{rid})

    </insert>

    <update id="updateRole" parameterType="map">

        update user_role set rid = #{rid} where uid = #{uid}

    </update>

</mapper>