<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.examsys.dao.UserDao">

    <select id="findByName" parameterType="string" resultType="user">

        select * from user where userName = #{userName}

    </select>

    <select id="findPermsByName" parameterType="string" resultType="string">

        select distinct p.permissionName from user u
        inner join user_role ur
        on u.uid = ur.uid
        inner join role_permission rp
        on rp.rid = ur.rid
        inner join permission p
        on p.pid = rp.pid
        where p.permissionName is not null and u.userName = #{userName}

    </select>
</mapper>